{{#if ftplist.length}}
{{else}}
  <h3>No Active FTP Connections</h3>
{{/if}}
<legend>FTP Connections</legend>
<div style='overflow-x:scroll'>
  <ul class="nav nav-tabs" role="tablist" style='width:2000px'>
  {{#each ftplist}}
  <li role="presentation" class="{{#if @first}}active{{/if}} mytab{{id}}">
    <a href="#{{id}}" aria-controls="profile" role="tab" data-toggle="tab" class='tabrole{{id}}'>{{user}}@{{host}} <button class="close closeTab" type="button" data-id='{{id}}'>×</button>&nbsp;&nbsp;</a>
  </li>
  {{/each}}
</ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  
</div>